# Ignore all CSV files
*.csv
*.tex

# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Environment files
.env

# Editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
